/* You can add global styles to this file, and also import other style files */
#demo .rs-range-color  {
  background-color: #ff8d00;
}
#demo .rs-handle:after  {
  background-color: #000000;
}
#demo .rs-border  {
  border-color: #ff8d00;
}
